In [25]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('C:/Users/ssant/Desktop/Data/covid19_analysis/general.csv')

In [26]:
df

,location,TotalPopulation,TotalCasesCount,TotalInfectionPercentage,TotalDeathCount,TotalDeathPercentage,StringencyIndexMax,FullyVaccinatedPopulaton,median_age,gdp_per_capita,human_development_index,extreme_poverty,DeathLikelyhood
0,Afghanistan,38928341,141489,363.000,6213,16,"84,26",219159.0,"18,6","1803,987","0,51",NaN,4.391
1,Albania,2877800,132697,4.611,2456,85,"89,81",466905.0,38,"11803,431","0,80","1,1",1.851
2,Algeria,43851043,154486,352.000,3956,9,"92,13",NaN,"29,1","13913,839","0,75","0,5",2.561
3,Andorra,77265,14359,18.584,127,164,"65,74",27010.0,NaN,NaN,"0,87",NaN,884.000
4,Angola,32866268,40906,124.000,969,3,"90,74",634164.0,"16,8","5819,495","0,58",NaN,2.369
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,Venezuela,28435943,293866,1.033,3392,12,"90,74",1100000.0,29,"16745,022","0,71",NaN,1.154
181,Vietnam,97338583,60180,62.000,334,0,"81,02",309791.0,"32,6","6171,884","0,70",2,555.000
182,Yemen,29825968,6987,23.000,1370,5,"58,33",8577.0,"20,3","1479,147","0,47","18,8",19.608
183,Zambia,18383956,186279,1.013,3113,17,"70,83",65528.0,"17,7","3689,251","0,58","57,5",1.671
184,Zimbabwe,14862927,85732,577.000,2697,18,"87,96",643203.0,"19,6","1899,775","0,57","21,4",3.146

In [27]:
# Changing the datatype and replacing commas with dots

df.dtypes

df['human_development_index'] = df["human_development_index"].str.replace(',','.')

df['human_development_index'] = df.human_development_index.astype(float)

In [28]:
# Function to identify ONU's HDI tier

def HDITier(x):
    
    if x >= 0.8 and x <= 1.0:
        return "Very High Human Development"
    elif x >= 0.7 and x <= 0.79:
        return "High Human Development"
    elif x >= 0.55 and x <= 0.69:
        return "Medium Human Development"
    else:
        return "Low Human Development"

In [29]:
for row in df.iterrows():
    df['HDI_tier'] = df.apply(lambda x: HDITier(x['human_development_index']), axis = 1)

In [30]:
df

,location,TotalPopulation,TotalCasesCount,TotalInfectionPercentage,TotalDeathCount,TotalDeathPercentage,StringencyIndexMax,FullyVaccinatedPopulaton,median_age,gdp_per_capita,human_development_index,extreme_poverty,DeathLikelyhood,HDI_tier
0,Afghanistan,38928341,141489,363.000,6213,16,"84,26",219159.0,"18,6","1803,987",0.51,NaN,4.391,Low Human Development
1,Albania,2877800,132697,4.611,2456,85,"89,81",466905.0,38,"11803,431",0.80,"1,1",1.851,Very High Human Development
2,Algeria,43851043,154486,352.000,3956,9,"92,13",NaN,"29,1","13913,839",0.75,"0,5",2.561,High Human Development
3,Andorra,77265,14359,18.584,127,164,"65,74",27010.0,NaN,NaN,0.87,NaN,884.000,Very High Human Development
4,Angola,32866268,40906,124.000,969,3,"90,74",634164.0,"16,8","5819,495",0.58,NaN,2.369,Medium Human Development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,Venezuela,28435943,293866,1.033,3392,12,"90,74",1100000.0,29,"16745,022",0.71,NaN,1.154,High Human Development
181,Vietnam,97338583,60180,62.000,334,0,"81,02",309791.0,"32,6","6171,884",0.70,2,555.000,High Human Development
182,Yemen,29825968,6987,23.000,1370,5,"58,33",8577.0,"20,3","1479,147",0.47,"18,8",19.608,Low Human Development
183,Zambia,18383956,186279,1.013,3113,17,"70,83",65528.0,"17,7","3689,251",0.58,"57,5",1.671,Medium Human Development
184,Zimbabwe,14862927,85732,577.000,2697,18,"87,96",643203.0,"19,6","1899,775",0.57,"21,4",3.146,Medium Human Development

In [31]:
df.to_csv('generalWithHDI.csv')